<%- include('./cabecera') %> 
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Alem MakeUp Sede Cali</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor02" style="flex-grow: 0;">
            <ul class="navbar-nav">
              <% if (user){ %> 
                <li class="nav-item">
                  <a class="nav-link" href="/inicio">Sede Principal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cali/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cali/productos">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cali/proveedores">Proveedores</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Salir</a>
                </li>
              <% }else{ %>
                <li class="nav-item">
                  <a class="nav-link" href="/singin">Ingresar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/singup">Registrarse</a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      
    </nav>
    
    <div class="container">
        <% if(singupMessage.length > 0) { %>
            <div class="alert alert-danger"> 
                <%=singupMessage %> 
            </div>
        <% } %> 
    
        <% if(singinMessage.length >0){ %>
            <div class="alert alert-danger"> 
                <%=singinMessage %> 
            </div>
        <% } %> 
        <%- body %>
    </div> 

</body>
<%- include('./footer') %> 