<%- layout('../templates/login.ejs') %> 
    <body>
        <div class="container">
            <h1 align="center" class="text-dark" >Datos Usuarios</h1>
            <a class="btn btn-success btn-block my-4"
            href="/crearUsuario">
                Crear nuevo usuario
            </a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="visibility:hidden">ID</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (arrayUsuarios.length> 0) { %>
                        <% arrayUsuarios.forEach(usuario=> { %>
                            <tr>
                                <th scope="row" style="visibility:hidden">
                                    <%= usuario.id %>
                                </th>
                                <td>
                                    <%= usuario.username %>
                                </td>
                                <td>
                                    <%= usuario.nombreU %>
                                </td>
                                <td>
                                    <%= usuario.apellidosU %>
                                </td>
                                <td>
                                    <%= usuario.cedulaU %>
                                </td>
                                <td>
                                    <%= usuario.emailU %>
                                </td>
                                <td>
                                    <a href="usuarios/<%= usuario.id %>" class="btn btn-warning btn-sm">
                                        Editar
                                    </a>
                                    <a href="eliminarUser/<%= usuario.id %>" class="btn btn-danger btn-sm">
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
     
                            <% }) %>
                                <% } %>     
     
                </tbody>
            </table>
        </div>
    </body>